@import "tailwindcss";
@plugin "daisyui";


.footer-titles {
  @apply  font-bold text-green-900;
}

.btn-primary {
  @apply w-full btn border-none text-left bg-linear-to-r from-orange-500 to-red-600 hover:from-orange-600 hover:to-red-700 transition text-white py-3 rounded-lg;
  
}

/* @import "tailwindcss/preflight";
@import "tailwindcss/utilities"; */

/* body {
  @apply bg-white text-gray-900 dark:bg-gray-900 dark:text-gray-100;
}
@layer components {
  .btn-primary {
    @apply bg-emerald-600 text-white px-4 py-2 rounded-lg;
  }
} */



